html{
    background-image: url("../../assets/images/main.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.home{
    background-image: url("../../assets/images/black-and-white-books-education-facts-433333.jpg");
    height:100%;
    width: 100%;
    border-radius: 15px;
}
.homePage{ 
    background-image: url("../../assets/images/main.png");
    background-size: contain;
    height: 100vh;
    width: 100vw;
}

.book-text{
    background-color: rgba(101, 178, 250, .8);
    border-radius: 15px;
    color: white;
}
.title{
    font-size: 1.5rem;
}

